div{
    display: flex;
    justify-content: space-between; 
}
#rj{
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 5;
    top: 0px;
}
#first{
    display: flex;
    flex-direction: column;
    margin: 15px 0px 0px 100px;
}
#second{
    gap: 10px;
    margin: 0px 60px 0px 0px;
}
#first p{
    margin: -10px 0px 0px 10px;
    font-size: 15px;
}
#first button{
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: white;
}
#first img{
    width: 60px;
    height: 60px;
    margin: auto;
}
#second button{
    border: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    border-radius: 7px;
    margin: auto;
    padding: 10px 15px 10px 15px;
    background-color: white;
    cursor: pointer;
    caret-color: blue;
}
#second button:hover{
    color: blue;
    text-decoration: underline;
}
#second #trial{
    border: 1px solid blue;
    color: blue;
}
#second #demo{
    background-color: blue;
    color: white;
} 
#main{
    display: flex;
    margin-top: 100px;
    margin: auto;
    justify-content: space-between; 
    width: 80%;
    padding: 100px 0px 50px 0px;
}
#vk{
    flex-direction: column;
    width: 50%;
    padding: 100px 0px 0px 50px ; 
}
#pic>img{
    width: 500px;
    height: 500px;
    margin: 100px 0px 0px 50px;
}
#btn{
    margin: 10px 220px 150px 0px;
}
#vk #book{
    width: 180px;
    height: 50px;
    border: 1px solid blue;
    color: white;
    background-color: blue;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
}
#vk #free{
    width: 180px;
    height: 50px;
    border: 1px solid blue;
    color: blue;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
}
#btn #dj {
    flex-direction: column;
    padding-bottom: 90px;
}
#btn #dk{
    flex-direction: column;
    padding-bottom: 90px;
}
#btn p{
   color: blue;
   padding-top: -8px;
}
marquee img{
    width: 150px;
    height: auto;
    margin: 0px 30px 0px 30px;
}
#slide{
    width: 70%;
    margin: auto;
    margin-top: -350px;
}
marquee{
    gap: 20px;
}
#video{
    justify-content: center;
    margin-top: -100px;
}

#center{
    width: 36%;
    flex-direction: column;
    margin: 100px 0px 0px 500px;
}
#image{
    width: 50%;
    margin: auto;
    margin-top: 32px;
}
#center h2{
    padding-left: 150px;
    margin-bottom: -10px;
}
#up{
    width: 8%;
    margin:-610px 500px 2000px 310px;
}
#down{
    width: 8%;
    margin: -1650px 1000px 0px 1050px;
}

#mid{
    width: 36%;
    flex-direction: column;
    margin: 100px 0px 0px 500px;
}
#mid h2{
    padding-left: 150px;
    margin-bottom: -10px;
}
#parent{
    display: flex;
    width: 75%;
    height: 500px;
    margin-top: -40px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
#parent>div{
    width: 150px;
    height: 150px;
    flex-basis: 22%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin:50px 0px 50px 0px;
    flex-direction: column;
}
#parent>div>img{
    width: 15%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin: 15px 0px 0px 10px;
}
#parent>div p{
    padding-bottom: 150px;
    padding-left: 15px;
    width: 150px;
}

#middle{
    width: 80%;
    flex-direction: column;
    text-align: center;
    margin: 100px 0px -70px 100px;
}
#middle2{
    display: flex;
    width: 75%;
    height: 500px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
#middle2>div{
    width: 150px;
    height: 150px;
    flex-basis: 45%;
    margin:120px 0px 150px 0px;
    flex-direction: column;
}
#middle2>div p{
    padding-bottom: 150px;
    padding-left: 15px;
    width: 70%;
    text-align: center;
}
#middle2>div h4{
   text-align: center;
}

#footer{
    height: 800px;
    width: 100%;
    color:#ffffff;
    background-color: #0E0F20;
    margin-top: 650px;
}
#footer2{
    display: flex;
    justify-content: space-around;
    background-color:#1C1D2E;
    width: 100%;
    height: 70px;
    margin-top: 20px;
}
#footer2>img{
    width: 70px;
    height: auto;
}
#footer3>div{
    justify-content: space-around;
    margin: -500px -300px 0px 100px;
    width: 80%;
    height: 200px;
    flex-direction: column;
    color: #ffffff;
}
#footer4{
    color: white;
    flex-direction: column;
}
#footer5{
    display: flex;
    margin: 0px 300px 10px 100px;
}
#footer5>img{
    width: 50px;
    height: auto;
    margin: 10px 0px 0px -80px;
}
 #footer5>h3{
    margin: 20px 70px 0px 0px;
}
#footer6{
    flex-direction: column;
}
#footer7{
    display: flex;
    margin: -50px 200px 0px 0px;
}
#footer7>img{
    width: 25px;
    height: auto;
}
#footer7 p{
    padding-right: 170px;
}
#footer8{
    display: flex;
    padding-left: 200px;
}
#footer8>img{
    width: 25px;
    height: auto;
    padding-right: 100px;
    padding-bottom: 30px;
}
#footer8 p{
    color: blue;
    padding-right: 350px;
    padding-bottom: 50px;
}
#footer9{
    display: flex;
    margin: -50px 200px 0px 0px;
}
#footer9>img{
    width: 25px;
    height: auto;
}
#footer9 p{
    padding-right: 130px;
}
#footer10{
    display: flex;
    padding-left: 200px;
}
#footer10>img{
    width: 25px;
    height: auto;
    padding-right: 100px;
    padding-bottom: 30px;
}
#footer10 p{
    color: blue;
    padding-right: 350px;
    padding-bottom: 50px;
}
#footer11{
    display: flex;
    margin: -50px 200px 0px 0px;
}
#footer11>img{
    width: 25px;
    height: auto;
}
#footer11 p{
    padding-right: 140px;
}
#footer12{
    display: flex;
    padding-left: 200px;
}
#footer12>img{
    width: 25px;
    height: auto;
    padding-right: 100px;
    padding-bottom: 30px;}
#footer12 p{
    color: blue;
    padding-right: 350px;
    padding-bottom: 50px;
}
#md>a{
    text-decoration: none;
    padding-top: 25px;
}